extends ../layout

block content
    .container
        br
        h1 Nueva Bicicleta
        
        form(action='/bicicletas/create' method='post')
            .card-body
                .form-group
                label(for='id') Id:
                .form-label-group
                    input#id.form-control(type='text' name='id')
                .form-group
                label(for='color') Color:
                .form-label-group
                    input#color.form-control(type='text' name='color')
                .form-group
                label(for='modelo') Modelo:
                .form-label-group
                    input#modelo.form-control(type='text' name='modelo')
                .form-group
                label(for='lat') Latitud
                .form-label-group
                    input#lat.form-control(type='text' name='lat')
                .form-group
                label(for='lng') Longitud
                .form-label-group
                    input#lng.form-control(type='text' name='lng')
                br
                .inputWithIcon
                a.btn.btn-danger(href='/bicicletas') Volver

                button.btn.btn-success(type='submit')  Agregar
