extends ../layout

block content
    .container
        br
        .row
            .col-lg-12
            a.btn.btn-success(type='button' href='/bicicletas/create') Nueve Bicicletas
            .card-content.table-responsive
            div
                br
                .col-md-12.col-md-offset-2
                table#tablaBicicletas.table.table-striped.table-bordered(cellspacing='0' width='100%')
                    thead
                    tr
                        th(scope='col') #
                        th(scope='col') Color
                        th(scope='col') Modelo
                        th(scope='col') Ubicacion
                        th(scope='col') Editar
                        th(scope='col') Eliminar
                        th(scope='col') Ver
                    tbody
                        each bici in bicis
                            tr
                                td(scope='row')= bici.id
                                td= bici.color
                                td= bici.modelo
                                td= bici.ubicacion
                                td
                                    a.btn.btn-primary(href= 'bicicletas/' + bici.id + '/update') Editar
                                td
                                    form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                                        input(type='hidden' name='id' value= bici.id)
                                        button.link-button.btn.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                                            = 'Eliminar'
                                td 
                                    a.btn.btn-secondary(href= 'bicicletas/' + bici.id + '/show') Ver
    //- table.table
    //-     thead.thead-light
    //-         tr
    //-             th(scope='col') #
    //-             th(scope='col') Color
    //-             th(scope='col') Modelo
    //-             th(scope='col') Ubicacion
    //-             th(scope='col') Editar
    //-             th(scope='col') Eliminar
    //-             th(scope='col') Ver
    //-     tbody
    //-         each bici in bicis
    //-             tr
    //-                 td(scope='row')= bici.id
    //-                 td= bici.color
    //-                 td= bici.modelo
    //-                 td= bici.ubicacion
    //-                 td
    //-                   a(href= 'bicicletas/' + bici.id + '/update') Editar
    //-                 td
    //-                     form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
    //-                         input(type='hidden' name='id' value= bici.id)
    //-                         button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
    //-                             = 'Eliminar'
    //-                 td 
    //-                     a(href= 'bicicletas/' + bici.id + '/show') Ver