extends ../layout

block content
     .container
        br
        h1 Ver Bicicleta
        
        form(action=`/bicicletas/${bici.id}/show`)
            .card-body
                .form-group
                label(for='id') Id:
                .form-label-group
                    input#id.form-control(type='text' name='id' value=bici.id)
                .form-group
                label(for='color') Color:
                .form-label-group
                    input#color.form-control(type='text' name='color' value=bici.color)
                .form-group
                label(for='modelo') Modelo:
                .form-label-group
                    input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
                .form-group
                label(for='lat') Latitud
                .form-label-group
                    input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
                .form-group
                label(for='lng') Longitud
                .form-label-group
                    input#lng.form-control(type='text' name='lng' value=bici.ubicacion[1])
                br
                .inputWithIcon
                a.btn.btn-danger(href='/bicicletas') Volver