extends ../layout

block content
  .container
        br
        h1 Actualizando Bicicleta
        
        form(action=`/bicicletas/${bici.id}/update` method='post')
            .card-body
                .form-group
                label(for='id') Id:
                .form-label-group
                    input#id.form-control(type='text' name='id' value=bici.id)
                .form-group
                label(for='color') Color:
                .form-label-group
                    input#color.form-control(type='text' name='color' value=bici.color)
                .form-group
                label(for='modelo') Modelo:
                .form-label-group
                    input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
                .form-group
                label(for='lat') Latitud
                .form-label-group
                    input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
                .form-group
                label(for='lng') Longitud
                .form-label-group
                    input#lng.form-control(type='text' name='lng' value=bici.ubicacion[1])
                br
                .inputWithIcon
                a.btn.btn-danger(href='/bicicletas') Volver

                button.btn.btn-success(type='submit')  Actualizar

                    //- a(href='/bicicletas') Volver
                    //- br 
                    //- br 
                    //- br 

                    //- h1 Actualizando Bicicleta

                    //- br
                    //- br

                    //- form(action=`/bicicletas/${bici.id}/update` method='post')
                    //-     label(for='id') ID:
                    //-     input#id(type='text' name='id' value=bici.id)
                    //-     br
                    //-     label(for='color') Color:
                    //-     input#color(type='text' name='color' value=bici.color)
                    //-     br
                    //-     label(for='modelo') Modelos:
                    //-     input#modelo(type='text' name='modelo' value=bici.modelo)
                    //-     br
                    //-     label(for='lat') Latitud:
                    //-     input#lat(type='text' name='lat' value=bici.ubicacion[0])
                    //-     br
                    //-     label(for='lng') Longitud:
                    //-     input#lng(type='text' name='lng' value=bici.ubicacion[1])
                    //-     br 
                    //-     br
                    //-     input.btn(type='submit' value='Ok')